[submodule "bwa/dependencies/sol2"]
	path = bwa/deps/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "bwa/dependencies/cppcodec"]
	path = bwa/deps/cppcodec
	url = https://github.com/tplgy/cppcodec.git
[submodule "bwa/dependencies/pugixml"]
	path = bwa/deps/pugixml
	url = https://github.com/zeux/pugixml.git
