[submodule "extlibs/cppcodec"]
	path = extlibs/cppcodec
	url = https://github.com/tplgy/cppcodec.git
[submodule "extlibs/pugixml"]
	path = extlibs/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "extlibs/pybind11"]
	path = extlibs/pybind11
	url = https://github.com/pybind/pybind11.git
